<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cash Handling Guide</title>
    <meta name="description" content="Cash Handling Guide">
    <meta name="theme-color" content="#b32417">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main role="main" class="container">
		<header>
		  <img class="logo" src="{{ url_for('static', filename='suzanne-cory-logo.svg') }}">
		  <h2 class="title">Student Cash Handling</h2>
		</header>
		<h4>Rationale:</h4>
		<section>Suzanne Cory High School students participate in a range of activities that</section>
    </main>
  </body>
</html>