<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Approval</title>
    <meta name="description" content="Event Approval">
    <meta name="theme-color" content="#b32417">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main role="main" class="container">
		<header>
		  <img class="logo" src="{{ url_for('static', filename='suzanne-cory-logo.svg') }}">
		  <h2 class="title">Event Approval</h2>
		  <span class="logout">Currently logged-in as:<br>{{ session['user'] }}<br><a href="{{ url_for('logout') }}">Logout</a></span>
		</header>
		<section class="manager-container">
			<div>
				<h3>Pending Events</h3>
				{% if pending %}
					{% for event in pending %}
						<h4>{{ event[0] }}</h4>
						<p class="data">
							Student Organisers: {{ event[1] }}<br>
							Main Student Name: {{ event[2] }}<br>
							Main Student Email: {{ event[3] }}<br>
							Teacher In Charge: {{ event[4] }}<br>
							Summary: {{ event[5] | nl2br }}<br>
							Date: {{ event[6] }}<br>
							Time: {{ event[7] }}<br>
							Venue: {{ event[8] }}<br>
							Who is setting up: {{ event[9] }}<br>
							What is being set up: {{ event[10] | nl2br }}<br>
							Setting up during class time: {{ event[11] }}<br>
							Event set-up time: {{ event[12] }}<br>
							Do products have to be purchased?: {{ event[13] }}<br>
							{% if event[14] %}
							Responsible for purchasing products: {{ event[14] }}<br>
							{% endif %}
							School items or furniture requirement: {{ event[15] }}<br>
							{% if event[16] %}
							School items/furniture required: {{ event[16] | nl2br }}<br>
							{% endif %}
							Assistance Requirement: {{ event[17] }}<br>
							{% if event[18] %}
							Financial Support Request: Yes<br>
							{% endif %}
							{% if event[19] %}
							Logistical Support Request: Yes<br>
							{% endif %}
							{% if event[20] %}
							Additional Material Support Request: Yes<br>
							{% endif %}
							{% if event[21] %}
							Event Risk Approval Request: Yes<br>
							{% endif %}
							{% if event[22] %}
							Request details: {{ event[22] | nl2br }}<br>
							{% endif %}
							Cash Tin Requirement: {{ event[23] }}<br>
							Float Requirement: {{ event[24] }}<br>
							{% if event[25] %}
							Staff member who will supervise cash handling and collect the money: {{ event[25] }}<br>
							{% endif %}
							{% if event[26] %}
							Organisation money is being raised for: {{ event[26] }}<br>
							{% endif %}
							{% if event[27] %}
							Fundraiser payment details: {{ event[27] }}<br>
							{% endif %}
							{% if event[30] %}
							Date conflicts with the following school calendar events:<br>
							{{ event[30] | nl2br }}
							{% else %}
							Date does not conflict with school calendar events<br>
							{% endif %}
							{% if event[31] %}
							Date conflicts with the following lunchtime calendar events:<br>
							{{ event[31] | nl2br }}
							{% else %}
							Date does not conflict with lunchtime calendar events<br>
							{% endif %}
							<div class="buttons">
								<a href="{{ url_for('approveevent', eventhash=event[28]) }}" class="greenbutton">Approve</a>
								<a href="{{ url_for('rejectevent', eventhash=event[28]) }}" class="redbutton">Reject</a>
								<a href="{{ url_for('editevent', eventhash=event[28]) }}" class="bluebutton">Edit</a>
							</div>
						</p>
					{% endfor %}
				{% else %}
					<p>None</p>
				{% endif %}
			</div>
			<div>
				<h3>Approved Events</h3>
				{% if approved %}
					{% for event in approved %}
						<h4>{{ event[0] }}</h4>
						<p class="data">
							Student Organisers: {{ event[1] }}<br>
							Main Student Name: {{ event[2] }}<br>
							Main Student Email: {{ event[3] }}<br>
							Lead Teacher(s): {{ event[4] }}<br>
							Summary: {{ event[5] }}<br>
							Date: {{ event[6] }}<br>
							Time: {{ event[7] }}<br>
							Venue: {{ event[8] }}<br>
							Who is setting up: {{ event[9] }}<br>
							What is being set up: {{ event[10] }}<br>
							Setting up during class time: {{ event[11] }}<br>
							Event set-up time: {{ event[12] }}<br>
							Do products have to be purchased?: {{ event[13] }}<br>
							{% if event[14] %}
							Responsible for purchasing products: {{ event[14] }}<br>
							{% endif %}
							School items or furniture requirement: {{ event[15] }}<br>
							{% if event[16] %}
							School items/furniture required: {{ event[16] }}<br>
							{% endif %}
							Assistance Requirement: {{ event[17] }}<br>
							{% if event[18] %}
							Financial Support Request: Yes<br>
							{% endif %}
							{% if event[19] %}
							Logistical Support Request: Yes<br>
							{% endif %}
							{% if event[20] %}
							Additional Material Support Request: Yes<br>
							{% endif %}
							{% if event[21] %}
							Event Risk Approval Request: Yes<br>
							{% endif %}
							{% if event[22] %}
							Request details: {{ event[22] }}<br>
							{% endif %}
							Cash Tin Requirement: {{ event[23] }}<br>
							Float Requirement: {{ event[24] }}<br>
							{% if event[25] %}
							Staff member who will supervise cash handling and collect the money: {{ event[25] }}<br>
							{% endif %}
							{% if event[26] %}
							Organisation money is being raised for: {{ event[26] }}<br>
							{% endif %}
							{% if event[27] %}
							Fundraiser payment details: {{ event[27] }}<br>
							{% endif %}
						</p>
					{% endfor %}
				{% else %}
					<p>None</p>
				{% endif %}
			</div>
			<div>
				<h3>Rejected Events</h3>
				{% if rejected %}
					{% for event in rejected %}
						<h4>{{ event[0] }}</h4>
						<p class="data">
							Student Organisers: {{ event[1] }}<br>
							Main Student Name: {{ event[2] }}<br>
							Main Student Email: {{ event[3] }}<br>
							Lead Teacher(s): {{ event[4] }}<br>
							Summary: {{ event[5] }}<br>
							Date: {{ event[6] }}<br>
							Time: {{ event[7] }}<br>
							Venue: {{ event[8] }}<br>
							Who is setting up: {{ event[9] }}<br>
							What is being set up: {{ event[10] }}<br>
							Setting up during class time: {{ event[11] }}<br>
							Event set-up time: {{ event[12] }}<br>
							Do products have to be purchased?: {{ event[13] }}<br>
							{% if event[14] %}
							Responsible for purchasing products: {{ event[14] }}<br>
							{% endif %}
							School items or furniture requirement: {{ event[15] }}<br>
							{% if event[16] %}
							School items/furniture required: {{ event[16] }}<br>
							{% endif %}
							Assistance Requirement: {{ event[17] }}<br>
							{% if event[18] %}
							Financial Support Request: Yes<br>
							{% endif %}
							{% if event[19] %}
							Logistical Support Request: Yes<br>
							{% endif %}
							{% if event[20] %}
							Additional Material Support Request: Yes<br>
							{% endif %}
							{% if event[21] %}
							Event Risk Approval Request: Yes<br>
							{% endif %}
							{% if event[22] %}
							Request details: {{ event[22] }}<br>
							{% endif %}
							Cash Tin Requirement: {{ event[23] }}<br>
							Float Requirement: {{ event[24] }}<br>
							{% if event[25] %}
							Staff member who will supervise cash handling and collect the money: {{ event[25] }}<br>
							{% endif %}
							{% if event[26] %}
							Organisation money is being raised for: {{ event[26] }}<br>
							{% endif %}
							{% if event[27] %}
							Fundraiser payment details: {{ event[27] }}<br>
							{% endif %}
						</p>
					{% endfor %}
				{% else %}
					<p>None</p>
				{% endif %}
			</div>
		</section>
    </main>
  </body>
</html>